
.icon-angle-left:before { content: '\e800'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-emo-displeased:before { content: '\e804'; } /* '' */
.icon-emo-cry:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-instagramm:before { content: '\e807'; } /* '' */
.icon-spin5:before { content: '\e808'; } /* '' */
.icon-emo-beer:before { content: '\e809'; } /* '' */
.icon-emo-unhappy:before { content: '\e80a'; } /* '' */
.icon-emo-grin:before { content: '\e80b'; } /* '' */
.icon-spin6:before { content: '\e80c'; } /* '' */
.icon-firefox:before { content: '\e80d'; } /* '' */
.icon-chrome:before { content: '\e80e'; } /* '' */
.icon-skype:before { content: '\e80f'; } /* '' */
.icon-linkedin:before { content: '\e810'; } /* '' */
.icon-github:before { content: '\e811'; } /* '' */
.icon-github-circled:before { content: '\e812'; } /* '' */
.icon-html5:before { content: '\e813'; } /* '' */
.icon-gplus:before { content: '\e814'; } /* '' */
.icon-css3:before { content: '\e815'; } /* '' */
.icon-dropbox:before { content: '\e816'; } /* '' */
.icon-angle-up:before { content: '\e817'; } /* '' */
.icon-angle-down:before { content: '\e818'; } /* '' */
.icon-down-dir:before { content: '\e819'; } /* '' */
.icon-up-dir:before { content: '\e81a'; } /* '' */
.icon-left-dir:before { content: '\e81b'; } /* '' */
.icon-right-dir:before { content: '\e81c'; } /* '' */
.icon-angle-double-right:before { content: '\e81d'; } /* '' */
.icon-angle-double-up:before { content: '\e81e'; } /* '' */
.icon-angle-double-left:before { content: '\e81f'; } /* '' */
.icon-angle-double-down:before { content: '\e820'; } /* '' */
.icon-rss:before { content: '\e821'; } /* '' */
.icon-thumbs-up:before { content: '\e822'; } /* '' */
.icon-thumbs-down:before { content: '\e823'; } /* '' */
.icon-comment:before { content: '\e824'; } /* '' */
.icon-chat:before { content: '\e825'; } /* '' */
.icon-tag:before { content: '\e826'; } /* '' */
.icon-tags:before { content: '\e827'; } /* '' */
.icon-code:before { content: '\e828'; } /* '' */
.icon-quote-left:before { content: '\e829'; } /* '' */
.icon-quote-right:before { content: '\e82a'; } /* '' */
.icon-download-cloud:before { content: '\e82b'; } /* '' */
.icon-home:before { content: '\e82c'; } /* '' */
.icon-link:before { content: '\e82d'; } /* '' */
.icon-link-ext:before { content: '\e82e'; } /* '' */
.icon-attach:before { content: '\e82f'; } /* '' */
.icon-minus:before { content: '\e830'; } /* '' */
.icon-plus:before { content: '\e831'; } /* '' */
.icon-plus-circled:before { content: '\e832'; } /* '' */
.icon-minus-circled:before { content: '\e833'; } /* '' */
.icon-cancel-circled:before { content: '\e834'; } /* '' */
.icon-cancel:before { content: '\e835'; } /* '' */
.icon-ok-circled:before { content: '\e836'; } /* '' */
.icon-ok:before { content: '\e837'; } /* '' */
.icon-star:before { content: '\e838'; } /* '' */
.icon-star-empty:before { content: '\e839'; } /* '' */
.icon-heart:before { content: '\e83a'; } /* '' */
.icon-heart-empty:before { content: '\e83b'; } /* '' */
.icon-mail:before { content: '\e83c'; } /* '' */
.icon-mail-alt:before { content: '\e83d'; } /* '' */
.icon-search:before { content: '\e83e'; } /* '' */
.icon-music:before { content: '\e83f'; } /* '' */
.icon-star-half:before { content: '\e840'; } /* '' */
.icon-star-half-alt:before { content: '\e841'; } /* '' */
.icon-user:before { content: '\e842'; } /* '' */