<section id="posts" class="module">

  <div class="wrapper">
    <div class="container">

      <div class="icon leftContent">&nbsp;</div>

      <div class="rightContent">
        <h2>Blog</h2>
        <dl class="postsList">
          {% if site.posts.size > 0 %}
            {% for post in site.posts %}
              {% if post.category != "pt-br" %}
                <dt>{{ post.date | date_to_long_string  }}</dt>
                <dd>
                  <a href="{{ post.url }}" class="icon-angle-double-right">{{ post.title }}</a>
                </dd>
              {% endif %}
            {% endfor %}
          {% else %}
            <h3 class="message">Sorry! nothing to show yet ='(</h3>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
<!--
  <h3>categories</h3>
{% for category in site.categories %}
    {{ category | first }}
{% endfor %}
-->


</section>