
#container {
    width: auto;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;  
}

#content {
    flex: 1;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #container {
        width: 34.8rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #container {
        width: 46.7rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #container {
        width: 56rem;
    }
}